<style>
  header, .success, footer {
    color: #F4F1DE !important;
  }
  header h1, header h2, header h3, header h4, header span, header p, header li, header strong, 
  .success h1, .success h2, .success h3, .success h4, .success span, .success p, .success li, .success strong,
  footer h1, footer h2, footer h3, footer h4, footer span, footer p, footer li, footer strong {
    color: #F4F1DE !important;
  }
</style>

<header class="success" id="CV">
  <div class="container">
    
    <div class="row" style="display: flex; align-items: center; flex-wrap: wrap; text-align: left;">
      <div class="col-md-8 col-sm-12">
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" width="350" height="350" style="margin-left: auto; display: block;"/>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="star-light" />
        <div class="intro-text">
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
    </div>

    <div style="margin-top: 60px;"></div>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Profile</h2>
        <hr class="star-light">
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2" style="text-align: left;">
        <p>Hi there! I am a Games Technology BSc graduate (predicted 2:1 outcome). I have a passion for <em>Technical 3D Art & Asset Creation</em>, <em> Level Design / Technical Level Design </em>, and <em> Particles & VFX </em>. 
          During the final year of my degree, I collaborated within a 10-person multidisciplinary team to design, create and successfully publish a commercial game title, <em>Pantomime Horse Obstacle Course</em>, on Steam. 
          I am proficient in Unreal Engine and Unity, and Modelling software: Maya / Blender / 3DS MAX, and have used them extensively throughout my degree. If you'd like to see my full game developer CV, please click the button below.</p>
      </div>
      
      <div class="col-lg-4" style="text-align: left;">
        <p><strong>Core Technical Skills:</strong></p>
        <ul style="list-style-type: square; padding-left: 20px; font-size: 18px; line-height: 1.5;">
          <li><strong>• Game Engine Competency:</strong> Unreal Engine 5, Unity</li>
          <li><strong>3D Asset Creation Tools:</strong> Autodesk Maya, Blender, 3DS Max</li>
          <li><strong>Programming:</strong> C++, C#, Python, Blueprints (Visual Scripting)</li>
          <li><strong>Specialised Competencies:</strong> Asset Creation, Niagara VFX, Game Environments.</li>
        </ul>
      </div>
      
      <div class="col-lg-8 col-lg-offset-2 text-center" style="margin-top: 30px;">
        <a href="cv/Luke_Cooper_CV.pdf" target="_blank" rel="noopener noreferrer" class="btn btn-lg" style="background-color: #FE6900; color: white; border: none; font-weight: bold;">
          <i class="fa fa-file-pdf-o"></i> View & Download Full CV
        </a>
      </div>
      
    </div>
  </div>
</header>